body {background-color:#F3EFEA;}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #323232;
  }
h1 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 48px;
    color: #57463A;
    }

